

header{
    background: grey;
    padding-left:0%;
    padding-right: 20%;
}
h1{
    color: chocolate;
    text-align: left;
}

li a{
    display: inline;
}
nav li{
    display: inline-block;
    margin-right: 20px;
    padding: 30px;
    text-decoration: none;
    text-align: left;
    

}
a{
    color:white;
    text-decoration: none;
    text-align: left;
}
nav {
    text-align: right;
}
h2{
    text-align: center;
}
.image{
    text-align: center;
    
}

.picture section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap :40px;
    width: 300px;
    height: 300px;
}
footer{
    background-color:grey;

}

}
.footer img{
    text-align: center;
}
footer p{
    text-align: center;
    color: white;
}